@charset "UTF-8";

h1{
	color: green;
	background-color: yellow;
	font-style: italic;
}

.main{
	height:300px;
	width:100%;
	border: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
}

.m1{
	height:50%;
	width :50%;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}